{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-debugger": "error",
    "no-alert": "error",
    "no-console": "error",
    "react/display-name": ["error", { "ignoreTranspilerName": true }],
    "react/prefer-stateless-function": "error",
    "react/jsx-filename-extension": ["error", { "extensions": [".test.js", ".jsx"] }]
  }
}
